* {
    margin: 0;
    padding: 0;
}


.Conteudo-Da-Home {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 168, 168, 0.2);
    color: #401717;
    width: 100vw;

}



.Final-Da-Pagina {
    display: flex;
    position: fixed;
    bottom: 0%;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #805454;


}



.Final-Da-Pagina img {
    align-items: center;
    height: 30px;
    width: 30px;

}

.Sobre-Nos {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 168, 168, 0.6);
    text-align: center;

}


