* {
    margin: 0;
    padding: 0;
}


/* header */
.header{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    position: fixed;
    background-color: rgba(255, 230, 230, 0.8);
    
  }
  
  .conteudo{
    padding-top: 7%;
    background-color: rgba(248, 245, 245, 0.8);
  }
  
  .divlogo{
    width: 50%;
    text-align: center;
  
  }
  
  .login{
    width: 50%;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
  }
  
  .item{
    text-align: center;
    background-color: rgb(255, 168, 168, 0.8);
    border: 1px solid #401717;
    font-weight: bold;
    width: 40%;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-left: 1%;
  }
  
  .item a{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    text-align: center;
    color: black;
  }
  
  .item:hover{
    background-color: #E65353;
  }
  
  #imglogo {
    width: 50%;
    height: 50%;
  }
  
  .navum {
    align-items: center;
    text-align: center;
    display:flex;
    justify-content: center;
    font-size: larger;
    font-size: 130%;
    width: 80%;
    border-radius: 10px;
    height: 10%;
    padding: 5px 10px;
  }
  
  .buttonheader {
      background-color: rgb(255, 168, 168, 0.8);
      border: 1px solid #401717;
      font-size: 100%;
      font-weight: bold;
      width: 50%;
      border-radius: 10px;
      height: 40px;
  }
  
  .buttonheader:hover {
      background-color: #E65353;
  }
  
  .buttonheader:active {
      background-color: rgb(255, 168, 168, 0.6);
  }


/* main */

main {
    background-color: rgb(255, 168, 168, 0.2);
    color: #401717;
    font-weight: bold;
}

.planos {
    display: flex;
    justify-content: space-around;
}

h1 {
    padding: 2%;
}

h2 {
    padding-top: 2%;
    padding-left: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.cabecalho-planos ol {
    display: flex;
    justify-content: space-around;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: rgb(255, 168, 168, 0.5);
    font-size: large;
}


.carros-planos {
    border: 1px solid #401717;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgb(255, 168, 168, 0.6);
    margin: 2%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: medium;

}

.carros-planos:hover{
    border: 3px solid #401717;
    
}

.carros-planos-imagem {
    max-width: 300px;
}

.carros-items li {
    list-style-type: none;
}

.icones-carros {
    max-width: 19px;
}

.carros-items ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 3%;
    font-size: small;
}

table,
th {
    background-color: rgb(255, 168, 168, 0.8);
    border: 1px solid #401717;
    margin-top: 3%;
    margin-bottom: 3%;
}

table {
    width: 80%;
}

button {
    background-color: rgb(255, 168, 168, 0.8);
    border: 1px solid #401717;
    font-size: 80%;
    font-weight: bold;
    width: 50%;
    border-radius: 10px;
    margin-bottom: 3%;
    height: 40px;
}

button:hover {
    background-color: #e65353;
}

button:active {
    background-color: rgb(255, 168, 168, 0.6);
}

/* footer */
footer{
    width: 100%;
    bottom: 0;
}
.final-da-pagina {
  font-weight: bold;
  font-size: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: static;
  bottom: 0;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(255, 230, 230, 0.8);
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 1050px;
  align-items: center;
}

.campos-input{
  height: 40px;
  display: flex;
  align-items: center;
  margin: 3px;
}

#botaofooter {
  background-color: rgb(255, 168, 168, 0.8);
  border: 1px solid #401717;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 100%;
  font-weight: bold;
  margin-top: 3%;
  width: 10%;
  border-radius: 10px;
  height: 40px;
  margin-left: 5px;
}

.icones-redes img {
  align-items: center;
  /* max-height: 30px; */
  max-width: 30px;
}